@media screen and ( max-width: 908px ){
 
 
header{
    flex-direction: column;
}
 main{
     flex-direction:column;

     
 }
 h2{
     font-size: 38px;
    text-align: center;
 }
  
  form{
      margin: 0 auto;
  }

ul{
    text-align: center;
}

}

