body{
  max-width: 1200px; 
  margin: 0 auto;
 background-color: antiquewhite;
  
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   background-color: white;
    width: 100%;

}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}
h1{
    font-weight: 200;
    color: white;
    
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 10px;
    color: brown;

}
span{
    color: brown;
}
p{
    line-height: 20px;
    max-width: 500px;
}
img{
    width: 480px;
    height: 400px;
   
    right: 155px;
}
a{
    color: white;
    
}
a:hover{
    color: rgb(25, 18, 18);
    transition: 0.5s all ;
}
#inscreva{
    border: 2px solid brown ;
    padding: 10px;
    border-radius: 15px;

}
#inscreva:hover{
    background-color: brown;
    color: white;
} form{
    display: flex;
    flex-direction: column;
    width: 70%;
    

}
input{
    margin-top: 20px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: rgb(79, 235, 65);
    color: white;
    font-weight: bold;
}
input:hover{
  cursor: pointer;
  background-color: rgb(29, 72, 12);
}
