body{
  
    margin: 0 auto;
 background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);;
 height: 100px;
  
}
.header1{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   background-color: white;
    width: 100%;
    background-color: brown;
    height: 40px;
    background-attachment: fixed;
   
   
}

 #li1 {
   margin: 170px;
   margin-top: 1px;
   

   

}
.ul2{
    margin-top: 12px;
    
}
.ul2 li {
    color: white;
   
}

.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(255, 255, 255);
    

}

#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
    color: brown;
}
h1{
    font-weight: 200;
    color: brown;
    
}


h2{
    font-size: 56px;
    line-height: 10px;
    color: brown;

}
span{
    color: brown;
}
p{
    line-height: 20px;
    max-width: 500px;
}

a{
    color: white;
    
}
a:hover{
    color: rgb(25, 18, 18);
    transition: 0.5s all ;
}
#inscreva{
    border: 2px solid brown ;
    padding: 10px;
    border-radius: 15px;

}
#inscreva:hover{
    background-color: brown;
    color: white;
}
main{
    height: 2000px;
}


.slider{
    margin: 0 auto;
    width: 100vw;
    height: 800px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img {
  width: 100vw;
  height: 800px;
 
}
.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: 374px;
    margin-left: 393px;
    display: flex;
    justify-content: center;

}
.manual-btn{
    border:  2px solid rgb(11, 10, 10);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: rgb(90, 84, 84);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    padding: 5px;
    border: 2px solid blue ;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
 .navigation{
     position: absolute;
     width: 800px;
     margin-top: 360px;
     display: flex;
     justify-content: center;
 }

 .navigation-auto div:not(:last-child){
     margin-right: 40px;
 }
 #radio1:checked ~ .navigation-auto .auto-btn1{
     background-color: white;
 }
 #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}
.servicos{
    width: 1046px;
    height: 528px;
    background-color: aqua;
    margin: auto;
    border-radius: 6px;
    margin-top: 110px;
    position: relative;
}
.serv{
   text-align: center;
}



.topicos{
    border: 2px solid brown;
    padding: 5px;
    border-radius: 5px;
    height: 150px;
    width: 159px;
    text-align: center;
    margin:  0 auto;
    
    
    
}


#incones2{
    font-size:4em;
}
footer{
    height: 300px;
    background-color: rgb(63, 7, 7);
}
