body{
  
    margin: 0 auto;
 background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);;
 
  
}
.header1{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   background-color: white;
    width: 100%;
    background-color: brown;
    height: 40px;
   
   
}

 #li1 {
   margin: 170px;
   margin-top: 1px;
   

   

}
.ul2{
    margin-top: 12px;
    
}
.ul2 li {
    color: white;
   
}

.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(255, 255, 255);

}

#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
    color: brown;
}
h1{
    font-weight: 200;
    color: brown;
    
}


h2{
    font-size: 56px;
    line-height: 10px;
    color: brown;

}
span{
    color: brown;
}
p{
    line-height: 20px;
    max-width: 500px;
}

a{
    color: white;
    
}
a:hover{
    color: rgb(25, 18, 18);
    transition: 0.5s all ;
}
#inscreva{
    border: 2px solid brown ;
    padding: 10px;
    border-radius: 15px;

}
#inscreva:hover{
    background-color: brown;
    color: white;
} 
